*{
  margin: o;
  padding: 0;
  outline: none;
 
}
body{
background-color: rgb(117, 217, 145);
}
#hed{width:1000px;
margin:auto;
padding-top: 20px;
color: rgb(46, 62, 46);
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-align: right ;
}
.aa{
  width: 200px;
  height: 20px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
  text-transform: none;
  


}
.aa:focus{outline: none;}
.main{
  width: 300px;
  margin: 30px auto ;
  background-color: aquamarine;
  border: 2px solid rgb(148, 190, 105);
  border-radius: 15px;
  text-align: center;
}
#mylh{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(122, 128, 126);
}
form{margin: 50px 0px;
  
}
label,input{
  display: block;
}
form input{
  width: 60%;
  margin: 8px auto;
  padding: 8px;
  background-color: transparent;

}
form label{font-size: 20px;
font-family: 'Courier New', Courier, monospace;
}
.sub{width: 30%;
margin: 5px auto;
text-align: center;
background-color: aqua;
font-size: 20px;
font-weight: bold;
border-radius: 5px;
transition: 0.4s ease;}
.sub:hover{
  background-color: cadetblue;
}
::placeholder{color: rgb(65, 33, 33);
text-align: center;}
.aaa{ color: rgb(237, 132, 132);
font-size: 18px;
font-family: 'Courier New', Courier, monospace;
letter: spacing 0.1em;
}
.aaa a{
  color: rgb(45, 55, 55);
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  
}
a:hover{
  color: blue;
}







