*{
  margin: 0;
  padding: 0;
}
body{
  background-color: azure;

}
#re{
  color: rgb(158, 144, 127);
  width:120px;
  margin: 20px auto 0px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
form{
  width: 30%;
  margin: 40px auto 0px;
  display: block;
  border: 2px solid burlywood;
  text-align: center;
  padding: 10px;
}
 label,input{
  width: 350px;
  margin: 10px auto 0px;
}
label{
  font-size: 17px;
  text-align:center;
  padding: 10px;

}
input{
  width:350px;
  margin: 10px auto 10px;
  padding: 10px;
  background-color: transparent;
}
::placeholder{
  color: white;
  font-size: 17px;

}
.lo{
  width: 150px;
  background-color: rgb(21, 225, 133);
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
}